body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

main {
    width: 30%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 15px grey;
    margin-top: 50px;

    
}

h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}


