html{
    width: 100%;
    height: 100%;
    background-color: rgb(26, 26, 26);
}

body{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.recta1{
    width: 400px;
    
    border: lightseagreen 1px solid;
    
    
}

.recta2{
    
    height: 150px;
    border: lightsalmon 1px solid;

    position: relative;
    bottom: 0px;
    right: 100px;
    
}