html,body{
    margin:0;
    width:100%;
    height:100%;
    padding:0;
    box-sizing:border-box;
    background-color: #333;
}
body{
    display:grid;
    grid-template-rows: 100px 300px auto 80px;
    grid-template-columns: 100%;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
}
nav{
    display:grid;
    grid-area:nav;

    background-color: #444;

    border-bottom: solid 2px whitesmoke;
}
header{
    display:grid;
    grid-area:header;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
main section{
    display:grid;
    padding:20px;
    background-color: #555;
    color: whitesmoke;
}

footer{
    display:grid;
    grid-area:footer;
    background-color: #444;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer img{
    width:100px;
    height:80px;
}


/* estilo para el menu  */

nav ul{
    list-style:none;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    transition: 1s all ease;
}

nav ul a{
    text-decoration:none;
    color:whitesmoke;
    font-size: 1.2rem;
    transition:  1s all ease;

}

li:hover{
    transform: scale(1.2);
}

a:hover{
    color: #ff6347;
    
}


.botones{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}
.botones button{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #ff6347;
    color: whitesmoke;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s all ease;
}


.contenedor{
    display:flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    
}

.card{
    border: solid 1px whitesmoke;
    width: 350px;
    border-radius: 7px;

    box-shadow: 6px 4px 5px 2px lightgrey;

    transition: 0.7s all ease;
}
.card:hover{
    transform: scale(1.03);
}
.card .titulo{
    text-align: center;
    
}

.card .precio{
    padding: 5px;
}
img{
    width: 100%;
    
}


form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}